<div style="text-align:left;">
			<strong>&nbsp;&nbsp;<span style="font-size:16px;">1、Git下载</span><br>
<span style="font-size:16px;">Git官网下载速度极其慢，博主在这里给出百度云下载链接：链接: </span><a href="https://pan.baidu.com/s/1eTaEJ4I" target="_blank"><span style="font-size:16px;">https://pan.baidu.com/s/1eTaEJ4I</span></a><span style="font-size:16px;"> 密码: kh2n</span><br>
<a target="_blank" href="http://blog.wangjian.ltd/content/uploadfile/201801/b8de1515766948.png" id="ematt:5"><img src="http://blog.wangjian.ltd/content/uploadfile/201801/b8de1515766948.png" title="点击查看原图" alt="TIM截图20180112222209.png" border="0" width="999" height="362"><br>
<span style="font-size:18px;"></span></a><span style="font-size:18px;">也可以去官网下载</span><br>
<span style="font-size:18px;">2、连上自己的GitHub</span><br>
<span style="font-size:18px;">网站：</span><a href="https://github.com/" target="_blank"><span style="font-size:18px;">GitHub</span></a><span style="font-size:18px;">（点击进去）</span><br>
<span style="font-size:18px;">注册github账号，这么简单的事就不说了</span><br>
<span style="font-size:18px;">因为我们使用的不是github 的工具，所以得创建一个ssh key来验证身份<br>
<a target="_blank" href="http://blog.wangjian.ltd/content/uploadfile/201801/fb5c1515767300.png" id="ematt:7"><img src="http://blog.wangjian.ltd/content/uploadfile/201801/fb5c1515767300.png" title="点击查看原图" alt="2.png" border="0" width="300" height="343"></a><br>
点击账户，然后在点击设置，如图所示<br>
<a target="_blank" href="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767382.png" id="ematt:8"><img src="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767382.png" title="点击查看原图" alt="3.png" border="0" width="233" height="280"><br>
</a>然后再点击ssh key进入设置<br>
进去之后会看到一个new key的蓝色按钮，到这里就不用管了，<br>
然后在在桌面点击右键<br>
<a target="_blank" href="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767644.png" id="ematt:9"><img src="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767644.png" title="点击查看原图" alt="3.png" border="0" width="221" height="332"><br>
</a>然后开启图形化界面，点击Help-&gt;show shhkey，接下来会有一个界面弹出，点击generate key，然后什么也不用填，直接回车默认就行，然后会生成一长串乱七八糟的字符串，复制。<br>
&nbsp; &nbsp; 然后回到GitHub，点击newkey然后黏贴刚才一堆乱七八糟的字符串<br>
<a target="_blank" href="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767954.png" id="ematt:10"><img src="http://blog.wangjian.ltd/content/uploadfile/201801/10fb1515767954.png" title="点击查看原图" alt="3.png" border="0" width="747" height="284"></a><br>
<br>
&nbsp; &nbsp; &nbsp;如图所示就ok啦！！！git就配置好了。具体Git命令参考此网址：<a href="https://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000/" target="_blank"><span style="color:#006600;">廖雪峰git</span></a><span style="color:#006600;">&nbsp;</span><br>
&nbsp; &nbsp; 常用的目录切换指令cd 比如说进入D盘输入<br>
&gt;&gt; cd d:<br>
然后查看当前目录下有哪些文件就输入<br>
&gt;&gt;ls<br>
就会显示当前目录下的文件和文件夹<br>
</span><br>
</strong><span style="font-size:16px;"></span> 
		</div>